<app-dash>
  <div class="container">
    <h2 class="mat-title">New Order</h2>

    <form #createForm="ngForm" (ngSubmit)="createOrder()">
      <div>
        <h3 class="mat-subtitle">Order Details</h3>

        <mat-form-field>
          <input matInput placeholder="Photos" disabled value="{{ (photos$ | async).length }} photo(s)">
        </mat-form-field>

        <mat-form-field>
          <mat-select name="type" ngModel placeholder="Print Type" required>
            <mat-option value="photo">
              Photo
            </mat-option>
            <mat-option value="magnet">
              Photo Magnet
            </mat-option>
            <mat-option value="panel">
              Photo Panel
            </mat-option>
            <mat-option value="canvas">
              Photo Canvas
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select name="size" ngModel placeholder="Print Size" required>
            <mat-option value="9x13">
              9x13
            </mat-option>
            <mat-option value="10x15">
              10x15
            </mat-option>
            <mat-option value="13x18">
              13x18
            </mat-option>
            <mat-option value="15x20">
              15x20
            </mat-option>
            <mat-option value="20x30">
              20x30
            </mat-option>
            <mat-option value="30x40">
              30x40
            </mat-option>
            <mat-option value="40x50">
              40x50
            </mat-option>
            <mat-option value="40x60">
              40x60
            </mat-option>
            <mat-option value="50x70">
              50x70
            </mat-option>
            <mat-option value="60x80">
              60x80
            </mat-option>
            <mat-option value="60x90">
              60x90
            </mat-option>
            <mat-option value="other">
              other (use comment)
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput name="number" ngModel placeholder="Number of Copies" type="number" required>
        </mat-form-field>
      </div>

      <div>
        <h3 class="mat-subtitle">Contact Details</h3>

        <mat-form-field>
          <input matInput name="name" ngModel placeholder="Name" type="text" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput name="email" ngModel placeholder="Email" type="email" required>
        </mat-form-field>
      </div>

      <!--<div>
        <mat-form-field>
          <input matInput placeholder="Street and House Number">
        </mat-form-field>

        <mat-form-field>
          <input matInput #postalCode maxlength="5" placeholder="Postal Code">
          <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="City">
        </mat-form-field>
      </div>-->

      <div>
        <mat-form-field>
          <textarea matInput name="comment" ngModel placeholder="Comment"></textarea>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" type="submit">Send</button>
    </form>
  </div>
</app-dash>
