<mat-card>
  <div class="logo">
    <img alt="Pixea logo" src="assets/logo.svg">
  </div>
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

  <div class="buttons" *ngIf="(url$ | async) === '/auth'">
    <button mat-raised-button (click)="navigate('email')">Sign in with email</button>
    or
    <button mat-raised-button class="google" (click)="signWithGoogle()">Sign in with Google</button>
    <button mat-raised-button class="facebook" (click)="signWithFacebook()">Sign in with Facebook</button>
  </div>

  <!-- Email -->
  <mat-card-title *ngIf="(url$ | async) === '/auth/email'">
    Sign in with email
  </mat-card-title>

  <mat-card-content *ngIf="(url$ | async) === '/auth/email'">
    <form role="form" id="email" #emailForm="ngForm" (submit)="continueWithEmail(emailForm)">
      <mat-form-field>
        <input name="email" ngModel matInput placeholder="E-mail" type="email" required>
        <mat-error *ngIf="emailForm.controls.email?.hasError('email') && !emailForm.controls.email?.hasError('required')">
          Please enter a valid e-mail address
        </mat-error>
        <mat-error *ngIf="emailForm.controls.email?.hasError('required')">
          E-mail is required
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions *ngIf="(url$ | async) === '/auth/email'" align="end">
    <button mat-button (click)="navigate('')">Back</button>
    <button mat-raised-button color="primary" type="submit" form="email">NEXT</button>
  </mat-card-actions>
  <!-- /Email -->

  <!-- Email existing -->
  {{ (emailStatus | async) }}
  <mat-card-title *ngIf="emailStatus === 'existing'">
    Sign in with email
  </mat-card-title>

  <mat-card-content *ngIf="emailStatus === 'existing'">
    <form role="form" id="password" #passwordForm="ngForm" (submit)="signWithEmail(passwordForm)">
      <mat-form-field>
        <input name="password" ngModel matInput placeholder="Password" type="password" required>
        <mat-error *ngIf="passwordForm.controls.password?.hasError('required')">
          Password is required.
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions *ngIf="emailStatus === 'existing'" align="end">
    <button mat-button (click)="navigate('email')">Back</button>
    <button mat-raised-button color="primary" type="submit" form="password">NEXT</button>
  </mat-card-actions>
  <!-- /Email existing -->

  <!-- Already used -->
  <mat-card-title *ngIf="emailStatus === 'Google' || emailStatus === 'Facebook'">
    You already have an account
  </mat-card-title>

  <mat-card-content *ngIf="emailStatus === 'Google' || emailStatus === 'Facebook'">
    You've already used {{ emailFormControl.value }}. Sign in with {{ emailStatus }} to continue.
  </mat-card-content>

  <mat-card-actions *ngIf="emailStatus === 'Google' || emailStatus === 'Facebook'" align="end">
    <button mat-button (click)="navigate('email')">Back</button>
    <button mat-raised-button color="primary" (click)="signWithExisting()">Sign in with {{ existingAccountProvider }}</button>
  </mat-card-actions>
  <!-- /Already used -->

  <!-- New account -->
  <mat-card-title *ngIf="newAccount">
    Create account
  </mat-card-title>

  <mat-card-content *ngIf="newAccount">
    <form role="form" id="create" #createForm="ngForm" (submit)="createWithEmail(createForm)">
      <mat-form-field>
        <input name="first" ngModel matInput placeholder="First name" type="text" required>
        <mat-error *ngIf="createForm.controls.first?.hasError('required')">
          First name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input name="last" ngModel matInput placeholder="Last name" type="text" required>
        <mat-error *ngIf="createForm.controls.last?.hasError('required')">
          Last name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input name="password" ngModel matInput placeholder="Choose password" [type]="show ? 'text' : 'password'" minlength="8" required>
        <mat-icon matSuffix class="toggle" (click)="show = !show">{{ show ? 'visibility_off' : 'visibility' }}</mat-icon>
        <mat-error *ngIf="createForm.controls.password?.hasError('minlength')">
          Must be at least 8 characters long.
        </mat-error>
        <mat-error *ngIf="createForm.controls.password?.hasError('required')">
          Password is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input name="passwordAgain" ngModel matInput placeholder="Repeat password" type="password" minlength="8" required>
        <mat-error *ngIf="createForm.controls.passwordAgain?.hasError('minlength')">
          Must be at least 8 characters long.
        </mat-error>
        <mat-error *ngIf="createForm.controls.passwordAgain?.hasError('required')">
          Password is required.
        </mat-error>
        <mat-error *ngIf="createForm.controls.passwordAgain?.hasError('mismatch')">
          Passwords do not match.
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions *ngIf="newAccount" align="end">
    <button mat-button (click)="newAccount = false;">Back</button>
    <button mat-raised-button color="primary" type="submit" form="create">NEXT</button>
  </mat-card-actions>
  <!-- /New account -->
</mat-card>
