#app {
    max-width: 1170px;
    margin: auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    >.mat-toolbar {
        max-width: 1170px;
        position: fixed;
        z-index: 100;
    }

    .mat-sidenav-container {
        margin-top: 64px;
        flex: 1;
    }

    .mat-sidenav {
        width: 240px;
    }

    .mat-sidenav-content {
        padding: 32px;
    }
}

@media (max-width: 600px) {
    #app {
        .mat-sidenav-container {
            margin-top: 56px;
            flex: 1;
        }
    }
}
